<h1 mat-dialog-title>Add Delivery Boy</h1>
<div mat-dialog-content>
  <form #dBoyForm="ngForm" novalidate></form>
  <mat-form-field>
    <mat-label>Delivery Boy Name</mat-label>
    <input matInput [(ngModel)]="Name" #name="ngModel" required minlength="3">
    <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
      <span *ngIf="name.errors?.['required']">Name is required.</span>
      <span *ngIf="name.errors?.['minlength']">
        Name must be at least 3 characters long.
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="Phone" #phone="ngModel" required pattern="^[0-9]{10}$">
    <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
      <span *ngIf="phone.errors?.['required']">Phone is required.</span>
      <span *ngIf="phone.errors?.['pattern']">
        Phone must be a valid 10-digit number.
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="Email" #email="ngModel" email>
    <mat-error *ngIf="email.invalid">
      <span *ngIf="email.errors?.['email']">Please enter a valid email.</span>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">CANCEL</button>
  <button  mat-button (click)="onSave(dBoyForm)">{{IsEditmode ? 'UPDATE' : 'SAVE'}}</button>
</div>