<mat-sidenav-container class="example-container">
  <mat-sidenav *ngIf="isValidRoute" #drawer mode="side">
    <mat-toolbar color="primary" style="height: 100px ;">
      <div class="toolbar-content" style="text-align: center">
        <div class="menu-item">
          <div>{{userName}}</div>
          <div>{{userMO}}</div>
          <div>{{userAdd}}</div>
        </div>
      </div>

    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of navItems">
        <a mat-list-item [routerLink]="item.link" (click)="item.action ? item.action() : close()">
          {{ item.label }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="isValidRoute" color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>MilkWala</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>