<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Login to access your account</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="login-container">
      <div *ngIf="step === 1" class="login-form">
        <form [formGroup]="mobileForm" (ngSubmit)="handleMobileSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="mobileNumber" maxlength="10"/>
            <mat-error
              *ngIf="mobileForm.get('mobileNumber')?.invalid && (mobileForm.get('mobileNumber')?.dirty || mobileForm.get('mobileNumber')?.touched)">
              <!-- <ng-container *ngIf="mobileForm.get('mobileNumber')?.errors?.required">Mobile Number is required</ng-container>
                <ng-container *ngIf="mobileForm.get('mobileNumber')?.errors?.pattern">Invalid Mobile Number format</ng-container> -->
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="mobileForm.invalid">Send OTP</button>
        </form>
      </div>
      <div *ngIf="step === 2" class="login-form">
        <form [formGroup]="otpForm" (ngSubmit)="handleOtpSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>OTP</mat-label>
            <input matInput formControlName="otp" />
            <mat-error
              *ngIf="otpForm.get('otp')?.invalid && (otpForm.get('otp')?.dirty || otpForm.get('otp')?.touched)">
              <!-- <ng-container *ngIf="otpForm.get('otp')?.errors?.required">OTP is required</ng-container>
                <ng-container *ngIf="otpForm.get('otp')?.errors?.pattern">Invalid OTP format</ng-container> -->
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="otpForm.invalid">Verify OTP</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>